body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  margin: 0;
}

a {
  text-decoration: none;
}

header li {
  display: inline;
}

header ul {
  padding-top: 8px;
  padding-bottom: 8px;
}

header a {
  color: #fffcfc;
}

.phone-number {
  display: inline-block;
  margin-right: 20px;
}

.e-mail {
  display: inline-block;
}

.contacts {
  width: 43%;
  float: left;
  text-align: center;
}

.client-account {
  width: 51%;
  float: right;
  text-align: center;
}

.contacts,
.client-account {
  background-color: #19bb9b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.client-account-sub-menu {
  font-size: 13px;
  font-weight: 100;
  margin-right: 20px;
}

.website-menu a {
  color: #1c0f0f;
}

.website-menu .sub-website-menu {
  color: #25bfa1;
}

.about-us {
  width: 100%;
  background-color: lawngreen;
}

.main-logo {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 33%;
  text-align: center;
}

.website-menu {
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 57%;
  text-align: center;
}

.top-logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.sub-website-menu {
  color: #25bfa1;
  margin-left: 20px;
  font-weight: bold;
}
